* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: #333;
}

.search-bar {
    width: 500px;
    background-color: rgb(195, 190, 168);
    margin: 200px auto 0;
    border-radius: 5px;
}

.row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

input {
    flex: 1;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: black;
}

.search-bar .row button {
    background: transparent;
    border: none;
    outline: none;
}

.search-bar .row button .fa-solid {
    width: 25px;
    font-size: 22px;
    cursor: pointer;
}

.result-box ul {
    border-top: 1px solid black;
}

.result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.result-box ul li:hover {
    background-color: beige;
}
