body{
    font-family: Arial, Helvetica, sans-serif;
    height: 96vh;
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background-color: aliceblue;
    padding: 15px;
    color: black;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 20px;
    min-width: 250px;
    max-width: 310px;
    text-align: center;
    box-shadow: 0px 5px 20px grey;
    transition: all 0.2s ease-in-out;
    border-radius: 8px;
}

img{
    border-radius: 50%;
    border: 1px solid black;
}

.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}

figcaption h5{
    color: grey;
}