*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.box{
    height: 60px;
    width: 60px;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: inset 8px 10px 13px #a4a4a4,
            inset -13px -12px 20px #ffffff;
    animation: anime 3s ease-in-out 1s infinite alternate;
}

@keyframes anime{
    0%{
        width: 60px;
        height: 60px;
        background-color: whitesmoke;
        box-shadow: inset 10px 12px 15px #a4a4a4,
            inset -13px -12px 20px #ffffff;
    }

    25%{
        width: 60px;
        height: 60px;
        background-color: whitesmoke;
        box-shadow: inset 20px 18px 25px #a4a4a4,
            inset -10px -10px 30px #ffffff;
    }

    50%{
        width: 250px;
        height: 250px;
    }

    75%{
        transform: rotate(135deg);
        width: 80px;
        height: 80px;
    }
}