body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}
.p1{
    font-family: monospace;
    color: rgb(152, 157, 157);
    position: absolute;
    top:2em;
}
div{
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    background-color: rgb(143, 138, 138);
    padding: 10px;
    border-radius: 20px;

}
.game-card{margin: 10px;
    height: 250px;
    border-radius: 10px;
    transition: 300ms ease-in-out;
    
    

}
.game-card:hover{
    border: 3px solid rgb(98, 3, 3);
    opacity:0.8;
    height:300px ;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
}